<div id="room">
  <div id="menu">
    <h2 class="cool-font border-1">BISCA BRABA</h2>

    <div id="game-info">
      <p id="player-name"></p>
      <p id="id-room"></p>
      <p id="num-players"></p>
      <p id="trumph"></p>
      <p id="player-turn"></p>
    </div>

    <div id="teams-info">
      <div id="team-1">
        <h3>Time 1</h3>
        <div class="players"></div>
      </div>
      <div id="team-2">
        <h3>Time 2</h3>
        <div class="players"></div>
      </div>
    </div>

    <button id="btn-start">Iniciar</button>
    <div id="footer">
      <small>Bisca Braba V2.0.0</small>
    </div>
  </div>
  <div id="game"></div>
  <div id="chat"></div>
</div>